{{!
    Template untuk Block Gumilar di Mobile App
}}
<div class="block_gumilar_mobile">
    <div class="card">
        <div class="card-header">
            <h3>{{#str}}hello, block_gumilar{{/str}}</h3>
        </div>
        <div class="card-body">
            <p>{{#str}}welcome_message, block_gumilar{{/str}}</p>
            <div class="user-info">
                <small>{{#str}}dashboard_info, block_gumilar{{/str}}</small>
            </div>
        </div>
    </div>
</div>